<div class="form-group row">
    <label for="name" class="col-lg-2 form-control-label">Customer name</label>
    <div class="col-lg-4">
        <input type="text" class="form-control" ng-model="name.aa" placeholder="customer name">
    </div>
    <label for="email" class="col-lg-2 form-control-label">Email address</label>
    <div class="col-lg-4">
        <input type="email" class="form-control" ng-model="name.email" placeholder="Email">
    </div>
</div>
<div class="wrap"></div>
<div class="form-group row">
    <div class="col-lg-4">
        <button class="btn btn-default" value="add" ng-click="getData()">
            <span class="glyphicon glyphicon-plus">添加数据</span>
        </button>
        <button class="btn btn-primary" value="add" ng-click="saveData()">
            <span class="glyphicon glyphicon-plus">保存数据</span>
        </button>
    </div>
</div>
