<!DOCTYPE html>
<html ng-app="ewewModule">
<head lang="en">
    <meta charset="utf-8">
    <title>时代发生的发生的</title>
    <link rel="stylesheet" type="text/css" href="../css/saleTrack.css">
</head>

<body ng-controller="ewewCtrl" class="iframeBody" ng-cloak>
    <!-- 页面loading -->
    <page-loading load-status="pageLoading"></page-loading>
    <!-- 设置右侧滑动的slider -->
    <ui-slider-modal ng-repeat="slider in sliderModals" slider-info="slider"></ui-slider-modal>
    <!-- 设置modal弹框内容 -->
    <lean-modal ng-repeat="modal in modals" modal-info="modal"></lean-modal>
    <!-- 主容器设置 -->
    <main-box class="pusher main_box">
        <!-- 顶部下拉搜索 -->
        <top-search search-modal-id="topModal" search-column-num="4" search-keys="searchKeys">
            <top-search-form></top-search-form>
            <ui-searched-items></ui-searched-items>
        </top-search>
        <!-- 按钮组 -->
        <button-group buttons="operateButton"></button-group>
        <!-- 数据表格 -->
        <div id="dataTable">
            <div id="grid" class="grid main_grid" ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection ui-grid-auto-resize ui-grid-pagination>
                    <grid-loading></grid-loading>
            </div>
        </div>
    </main-box>
</body>
<script type="text/javascript" src="../js/lib/lib.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>
